*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    position: absolute;
    top: 0px;
}

body{
   background-image: url("image_1580129308.webp");
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
   
    position: relative;
    top: 100px;
    background-color: hsla(240, 100%, 50%, 0.5);
    right: 150;
    width: 80vw;
    height: 80vh;
    
    border: 2px solid blue;
    border-radius: 15px;
}
#bot{
    left: 0;
    display: flex;
   /* justify-content: center;*/
    align-items: center;
}

#bot2{

    left: 0;
    display: flex;
   /* justify-content: center;*/
    align-items: center;
}
#bot3{

    left: 0;
    display: flex;
   /* justify-content: center;*/
    align-items: center;
}
#bot4{

    left: 0;
    display: flex;
   /* justify-content: center;*/
    align-items: center;
}
#bot:hover{
    background-color: blue;
}
#bot2:hover{
    background-color: blue;
}
#bot3:hover{
    background-color: blue;
}
#bot4:hover{
    background-color: blue;
}
#Home{
    display: inline;
    position: absolute;
    left: 0px;
    bottom: 1px;

    border: 2px solid blue;
    background-color: aqua;
    color: black;
}
#Home:hover{
    background-color: blue;
}
